@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MusicPlayer.Models.ViewModels.ProfileViewModel
@{
    <body>
        <h2>Hello, @Model.Login !</h2>
    </body>
}
