@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Adagio</h1>
    <h4>Please register or, if you have an account, log in to be able to use the application.</h4>
    <p>
        For this project work, the topic "Web Application for Playing Music Tracks" was chosen.

        This topic is relevant in our times because most people use music players on a daily basis. It is difficult to imagine a bus ride without headphones, a restaurant where guests dine in silence, or a workout in the gym without motivating rhythms, right?
        This project stands out by eliminating the possibility of accidentally acquiring pirated tracks, as it has its own database that contains only free tracks available legally on the internet. Furthermore, this project has great potential for further development, with the possibility of transforming into a web application with an advanced recommendation system, the ability to add new playlists for different moods, separate accounts for users and authors, and more.
        The main functional elements that characterize this project are:

    </p>
    <ol>
        <li>
            Creating a new user account.
        </li>
        <li>
            Logging in and logging out of a user account.
        </li>
        <li>
            Displaying the logged-in user's favorite songs. If the user does not have any favorites yet, redirecting them to the Shared Repository of Tracks. Displaying current user information on the favorites page.
        </li>
        <li>
            The ability to add a track to favorites from the Shared Repository of Tracks.
        </li>
        <li>
            The ability to remove a track from favorites.
        </li>
        <li>
            The ability to play tracks from the favorites list and from the repository.
        </li>
    </ol>


   
</div>
