body {
    background-color:rebeccapurple;
}
.form_container {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    padding: 20px 20px;
    border: solid black 0.5px;

    border-radius:7px;
    background-color:whitesmoke;
    opacity:0.9;
    box-shadow:10px 10px ;
}
input {
    
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: none;
    border-radius:5px;
}

#sign_up {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
    font-family: Arial;
    opacity: 1;
    font-weight: bold;
}
.registr_container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.but {
    width: 150px;
    font-size: 15px;
    font-family:Arial;
    margin-left: auto;
    margin-right: auto;
    border-color:black;
    border-radius:5px;
    font-weight: bold;
}
#login_password_incorrect {
    font-size: 8px;
    color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top:8px;
}