@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MusicPlayer.Models.ViewModels.UserViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/mycss.css" />




<form action="PasswordOrLoginIsIncorrect" method="get">
    <div class="form_container">
        <label id="sign_up">LogIn</label>
        <div class="registr_container">
            @*<label class="label_user_form" asp-for="Login">Login</label>*@
            <input asp-for="Login" type="text" placeholder="Login" name="login" id="login" required />
        </div>
        <div class="registr_container">
            @*  <label class="label_user_form" asp-for="Password">Password</label>*@
            <input asp-for="Password" type="text" placeholder="Password" name="password" id="password" required />
            <label id="login_password_incorrect">Login or password is incorrect.</label>
        </div>
       

        <button class="but" asp-action="Index" asp-controller="Authorization">Log in</button>

    </div>


</form>